@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

}

main{
    width: 80%;
    display: grid;
    margin: auto;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;

}
header{
    height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  padding: 35px 0 0 0;
    background-color: rgb(51, 51, 51);
    color: white;
}
table tr th{
    color: white;
    background-color: rgb(17, 16, 16);
    border: solid 3px rgb(238, 239, 241);
    padding: 5px 30px;
    font-weight: bold;
    margin: 2px 10px;
}
table{
    text-align: center;
  
}

table tr td{
    color: white;
    background-color: rgb(94, 93, 93);
    border-style: solid;
    border-width: 2px;
    padding: 5px 30px;
    font-weight: bold;
    margin: 2px 10px;
}

form{
    background-color: rgba(86, 72, 179, 0.74);
}

#TableArea{
    position: relative;
    padding: 35px;
    background-color: rgba(86, 72, 179, 0.74);
}
form{
    align-items: center;
    width: 60%;
    margin: auto;
    padding: 30px;
}
label,input,select{
    width: 70%;
    text-align: center;
  display:inherit;
    margin: auto;
    border-radius: 5px;
    margin: 5px 10px;
    
}
button{
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100px;
    background-color: rgb(56, 55, 55);
    color: white;
    font-weight: bold;
    border-radius: 15px;
   
label{
    color: white;
}
